.floating-whatsapp, 
.toggle-floating {
    background-color: #255cd3;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    .plus_icon {
        display: flex;
         justify-content: center;
        img {
            width: 60%;
            margin: 0;
            padding: 0;
            transition: transform 0.2s ease-in-out;
        }
    }
}

.floating-whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 1px 0px 85px 1px rgba(0, 145, 255, 0.938);
}

.toggle-floating {
    .dropdown {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) translateX(50%);
    }

    &:hover {
        box-shadow: none;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%) translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    .whatsapp {
        background-color: #25D366;

        &:hover {
            box-shadow: 1px 0px 50px 1px #008b0c81;
        }
    }

    .mail {
        background-color: #0091ff;

        &:hover {
            box-shadow: 1px 0px 50px 1px #0091ff81;
        }
    }

    .dropdown-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 18px 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        img {
            width: 35px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}