.logo_container {
    width: 23.5rem;
    display: flex;
     flex-direction: column;

     .ruf_logo {
        width: 10rem;
        margin-top: 1rem;
        margin-left: 5rem;
        display: flex;
            flex-direction: column;
    
        @media only screen and (max-width: 920px) {
            margin-left: 4rem;
        }
    
        @media only screen and (max-width: 720px) {
            margin-left: 2rem;
        }
    
        @media only screen and (max-width: 425px) {
            width: 8rem;
        }
    }

    .hide_initials {
        width: fit-content;
        font-size: small;
        color: #ffffff00;
        margin: 0;
        margin-left: 5rem;
        padding-top: .5rem;
        transition: .6s;

        @media only screen and (max-width: 920px) {
            font-size: small;
            margin-left: 4rem;
        }

        @media only screen and (max-width: 720px) {
            font-size: x-small;
            margin-left: 2rem;
        }
    }

    .initials_enter {
        width: fit-content;
        font-size: small;
        margin: 0;
        margin-left: 5rem;
        padding-top: .5rem;

        @media only screen and (max-width: 920px) {
            font-size: small;
            margin-left: 4rem;
        }

        @media only screen and (max-width: 720px) {
            font-size: x-small;
            margin-left: 2rem;       
        }
    }
}