#home_header {
    width: 99vw;
    height: 20vh;
    display: flex;
     align-items: center;
    background: linear-gradient(to top, #ffffffcb, #ffffffcb), url('/public/img/home_page/top_background.jpg');
     background-color: gray;
     background-size: cover;

    @media only screen and (max-width: 425px) {
        height: 20vh;
    }
}

#bussines_units {
    width: 99w;
    min-height: 20rem;
    display: flex;
     justify-content: center;

    #banner {
        width: 75vw;
        margin: 2rem;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: row;
         justify-content: space-between;
         align-items: center;
        background: linear-gradient(to bottom, #181d5257, #181d52cc), url('/public/img/home_page/secondary_background.png');
         background-color: #181D52;
         background-repeat: no-repeat;
         background-size: 12rem;
        box-shadow: 0px 0px 13px 0px #000000bf;
        
        @media only screen and (max-width: 1500px) {
            width: 95vw;
            padding: 1rem;
        }

        @media only screen and (max-width: 768px) {
            width: 99vw;
            margin: .5rem;
        }

        @media only screen and (max-width: 720px) {
            flex-direction: column;
        }

        .intro {
            width: 65%;
            height: 100%;
            padding: 1rem;

            @media only screen and (max-width: 1500px) {
                width: 60%;
            }

            @media only screen and (max-width: 768px) {
                width: 60%;
            }

            @media only screen and (max-width: 720px) {
                width: 90%;
            }

            @media only screen and (max-width: 425px) {
                padding: 0;
            }

            .secondary_p {
                @media only screen and (max-width: 928px) {
                    display: none;
                }
            }
        }

        .card_container {
            width: auto;
            display: flex;
                flex-direction: column;    
                
            @media only screen and (max-width: 720px) {
                flex-direction: row;
            }

            @media only screen and (max-width: 585px) {
                flex-direction: column;
            }
    
            .row {
                justify-content: flex-end;
                margin: 0;
                padding: 0;

                .unit_card {
                    margin: .2rem;
                    width: 10rem;
                    height: 10rem;
                    display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;

                        @media only screen and (max-width: 928px) {
                            width: 8rem;
                            height: 8rem;
                        }

                    img {
                        width: 4rem;
                        height: 3.5rem;
                        margin-bottom: 1rem;
                    }

                    h2 {
                        font-size: 1.2rem;
                        padding: 0;
                        margin: 0;
                    }
                }
        
                .Eduactivo{
                    background-color: #F19C1D;
                }

                .Industrial{
                    background-color: #0098DA;
                }

                .RSE {
                    background-color: #00B25D;
                }

                .GovTech {
                    background-color: #3f3e3e;
                }
            }
        }
    }

}

.home_page_contact {
    width: 99vw;
    height: 30rem;
    margin-top: 2rem;
    display: flex;
     justify-content: center;
    background: url('/public/img/home_page/word_contact.png');
     background-repeat: no-repeat;
     background-position: right;
     background-size: contain;

    @media only screen and (max-width: 928px) {
        height: 25rem;
    }

    @media only screen and (max-width: 720px) {
        height: 20rem;
        background-size: 15rem;
    }

    @media only screen and (max-width: 575px) {
        background: linear-gradient(to bottom, #fffffff1, #ffffffad), url('/public/img/home_page/word_contact.png');
    }

    .links {
        width: 75vw;
        display: flex;
         justify-content: flex-start;

            @media only screen and (max-width: 1500px) {
                width: 95vw;
            }

            @media only screen and (max-width: 585px) {
                width: 99vw;
            }

        ul{
            margin: 0;
            padding: 1rem;
            
            h3 {
                font-weight: bold;
                font-size: xx-large;
                margin-bottom: 2rem;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(19,107,188,1) 49%, rgba(22,144,209,1) 59%, rgba(0,32,36,1) 100%);
                background-clip: text;
                color: transparent;
                width: min-content;

                @media only screen and (max-width: 768px) {
                    font-size: x-large;
                }
            }

            li{
                list-style: none;
                font-size: large;
                display: flex;
                 flex-direction: row;
                margin: .5rem;
                
                p {
                    margin: 0;
                }

                @media only screen and (max-width: 768px) {
                    font-size: medium;
                }

                @media only screen and (max-width: 425px) {
                    font-size: normal;
                }

                img {
                    width: 25px;
                    margin-right: 1.5rem;

                    @media only screen and (max-width: 425px) {
                        width: 20px;
                    }
                }
            }

            .contact_form_btn {
                width: 20rem;
                height: 2.5rem;
                border: 0;
                border-radius: 15px;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(17,83,143,1) 49%, rgba(9,9,121,1) 59%, rgba(0,32,36,1) 100%);
                color: white;
                font-weight: bold;
                display: flex;
                 flex-direction: row;
                 justify-content: flex-start;
                 align-items: center;

                @media only screen and (max-width: 320px) {
                    width: 18rem;
                    font-weight: normal;
                }

                img {
                    width: 26px;
                    margin-left: .5rem;
                    margin-right: 1.3rem;
                }

            }
            
        }
    }
}