.navbar {
    height: 7.5rem;
    padding: 0;
    margin: 0;

    .container-fluid {
        padding: 0;
    }

    .collapse {
        justify-content: center;
        padding-right: 314.42px; // logo size
        margin: 0;
        height: 100%;

        .navbar-nav {
            .nav-item {
                height: 7rem;
                line-height: 7rem;
                padding-right: 1.5rem;

                &:last-child {
                    padding-right: 0;
                }

                .nav-link {
                    padding: 0;
                }

                .active {
                    background: linear-gradient(90deg, rgba(218,113,0,1) 0%, rgba(255,149,0,1) 19%, rgba(255,165,39,1) 47%);
                     background-clip: text;
                    border-bottom: 4px solid transparent;
                     border-image: linear-gradient(90deg, rgba(218,113,0,1) 0%, rgba(255,149,0,1) 19%, rgba(255,165,39,1) 47%) 1;
                    color: transparent;
                    position: relative;
                    font-weight: bold;
                }
            }
        }
    }
}