@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

#home_header {
  width: 99vw;
  height: fit-content;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #ffffffcb, #ffffffcb), url("/public/img/home_page/top_background.jpg");
  background-color: gray;
  background-size: cover; }

#bussines_units {
  width: 99w;
  min-height: 20rem;
  display: flex;
  justify-content: center; }
  #bussines_units #banner {
    width: 75vw;
    margin: 2rem;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #181d5257, #181d52cc), url("/public/img/home_page/secondary_background.png");
    background-color: #181D52;
    background-repeat: no-repeat;
    background-size: 12rem;
    box-shadow: 0px 0px 13px 0px #000000bf; }
    @media only screen and (max-width: 1500px) {
      #bussines_units #banner {
        width: 95vw;
        padding: 1rem; } }
    @media only screen and (max-width: 768px) {
      #bussines_units #banner {
        width: 99vw;
        margin: .5rem;
        box-shadow: none; } }
    @media only screen and (max-width: 720px) {
      #bussines_units #banner {
        flex-direction: column; } }
    @media only screen and (max-width: 575px) {
      #bussines_units #banner {
        margin: 0;
        background: linear-gradient(to top, #ffffff57, #ffffffcc), url("/public/img/home_page/secondary_background.png");
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: 18rem; } }
    #bussines_units #banner .intro {
      width: 65%;
      height: 100%;
      padding: 1rem; }
      @media only screen and (max-width: 1500px) {
        #bussines_units #banner .intro {
          width: 60%; } }
      @media only screen and (max-width: 768px) {
        #bussines_units #banner .intro {
          width: 60%; } }
      @media only screen and (max-width: 720px) {
        #bussines_units #banner .intro {
          width: 90%; } }
      @media only screen and (max-width: 575px) {
        #bussines_units #banner .intro {
          padding: 0;
          color: #3f3e3e; } }
      @media only screen and (max-width: 928px) {
        #bussines_units #banner .intro .secondary_p {
          display: none; } }
    #bussines_units #banner .card_container {
      width: auto;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 720px) {
        #bussines_units #banner .card_container {
          flex-direction: row; } }
      @media only screen and (max-width: 585px) {
        #bussines_units #banner .card_container {
          flex-direction: column; } }
      #bussines_units #banner .card_container .row {
        justify-content: flex-end;
        margin: 0;
        padding: 0; }
        #bussines_units #banner .card_container .row .unit_card {
          margin: .2rem;
          width: 10rem;
          height: 10rem;
          display: flex;
          text-decoration: none;
          color: white;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          @media only screen and (max-width: 928px) {
            #bussines_units #banner .card_container .row .unit_card {
              width: 8rem;
              height: 8rem; } }
          #bussines_units #banner .card_container .row .unit_card img {
            width: 4rem;
            height: 3.5rem;
            margin-bottom: 1rem; }
          #bussines_units #banner .card_container .row .unit_card h2 {
            font-size: 1.2rem;
            padding: 0;
            margin: 0; }
        #bussines_units #banner .card_container .row .Educativo {
          background-color: #F19C1D; }
        #bussines_units #banner .card_container .row .Industrial {
          background-color: #0098DA; }
        #bussines_units #banner .card_container .row .RSE {
          background-color: #00B25D; }
        #bussines_units #banner .card_container .row .GovTech {
          background-color: #3f3e3e; }

.home_page_contact {
  width: 99vw;
  height: 30rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background: url("/public/img/home_page/word_contact.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  @media only screen and (max-width: 928px) {
    .home_page_contact {
      height: 25rem; } }
  @media only screen and (max-width: 720px) {
    .home_page_contact {
      height: 20rem;
      background-size: 15rem; } }
  @media only screen and (max-width: 575px) {
    .home_page_contact {
      background: linear-gradient(to bottom, #fffffff1, #ffffffad), url("/public/img/home_page/word_contact.png"); } }
  .home_page_contact .links {
    width: 75vw;
    display: flex;
    justify-content: flex-start; }
    @media only screen and (max-width: 1500px) {
      .home_page_contact .links {
        width: 95vw; } }
    @media only screen and (max-width: 585px) {
      .home_page_contact .links {
        width: 99vw; } }
    .home_page_contact .links ul {
      margin: 0;
      padding: 1rem; }
      .home_page_contact .links ul h3 {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 2rem;
        background: linear-gradient(90deg, #020024 0%, #090979 20%, #136bbc 49%, #1690d1 59%, #002024 100%);
        background-clip: text;
        color: transparent;
        width: min-content; }
        @media only screen and (max-width: 768px) {
          .home_page_contact .links ul h3 {
            font-size: x-large; } }
      .home_page_contact .links ul li {
        list-style: none;
        font-size: large;
        display: flex;
        flex-direction: row;
        margin: .5rem; }
        .home_page_contact .links ul li p {
          margin: 0; }
        @media only screen and (max-width: 768px) {
          .home_page_contact .links ul li {
            font-size: medium; } }
        @media only screen and (max-width: 425px) {
          .home_page_contact .links ul li {
            font-size: normal; } }
        .home_page_contact .links ul li img {
          width: 25px;
          margin-right: 1.5rem; }
          @media only screen and (max-width: 425px) {
            .home_page_contact .links ul li img {
              width: 20px; } }
      .home_page_contact .links ul .contact_form_btn {
        width: 20rem;
        height: 2.5rem;
        border: 0;
        border-radius: 15px;
        background: linear-gradient(90deg, #020024 0%, #090979 20%, #11538f 49%, #090979 59%, #002024 100%);
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        @media only screen and (max-width: 320px) {
          .home_page_contact .links ul .contact_form_btn {
            width: 18rem;
            font-weight: normal; } }
        .home_page_contact .links ul .contact_form_btn img {
          width: 26px;
          margin-left: .5rem;
          margin-right: 1.3rem; }

.logo_container {
  width: 23.5rem;
  display: flex;
  flex-direction: column; }
  .logo_container .ruf_logo {
    width: 10rem;
    margin-top: 1rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 920px) {
      .logo_container .ruf_logo {
        margin-left: 4rem; } }
    @media only screen and (max-width: 720px) {
      .logo_container .ruf_logo {
        margin-left: 2rem; } }
    @media only screen and (max-width: 425px) {
      .logo_container .ruf_logo {
        width: 8rem; } }
  .logo_container .hide_initials {
    width: fit-content;
    font-size: small;
    color: #ffffff00;
    margin: 0;
    margin-left: 5rem;
    padding-top: .5rem;
    transition: .6s; }
    @media only screen and (max-width: 920px) {
      .logo_container .hide_initials {
        font-size: small;
        margin-left: 4rem; } }
    @media only screen and (max-width: 720px) {
      .logo_container .hide_initials {
        font-size: x-small;
        margin-left: 2rem; } }
  .logo_container .initials_enter {
    width: fit-content;
    font-size: small;
    margin: 0;
    margin-left: 5rem;
    padding-top: .5rem; }
    @media only screen and (max-width: 920px) {
      .logo_container .initials_enter {
        font-size: small;
        margin-left: 4rem; } }
    @media only screen and (max-width: 720px) {
      .logo_container .initials_enter {
        font-size: x-small;
        margin-left: 2rem; } }

.navbar {
  height: 7.5rem;
  padding: 0;
  margin: 0; }
  .navbar .container-fluid {
    padding: 0; }
  .navbar .collapse {
    justify-content: center;
    padding-right: 314.42px;
    margin: 0;
    height: 100%; }
    .navbar .collapse .navbar-nav .nav-item {
      height: 7rem;
      line-height: 7rem;
      padding-right: 1.5rem; }
      .navbar .collapse .navbar-nav .nav-item:last-child {
        padding-right: 0; }
      .navbar .collapse .navbar-nav .nav-item .nav-link {
        padding: 0; }

.navbar_educativo {
  background: linear-gradient(#ffffffce, #ffffffce), url("/public/img/navbar/node_background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 760px; }
  .navbar_educativo .collapse .navbar-nav .nav-item .active {
    background: linear-gradient(90deg, #da7100 0%, #ff9500 19%, #ffa527 47%);
    background-clip: text;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, #da7100 0%, #ff9500 19%, #ffa527 47%) 1;
    color: transparent;
    position: relative;
    font-weight: bold; }

.navbar_industrial {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, white 53%, #dcf8ff 63%, #00caff 75%, #004f9d 92%) 1;
  background: linear-gradient(#ffffffce, #ffffffce), url("/public/img/navbar/hex_background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 600px; }
  .navbar_industrial .collapse .navbar-nav .nav-item .active {
    background: linear-gradient(90deg, #020024 0%, #090979 20%, #136bbc 49%, #1690d1 59%, #002024 100%);
    background-clip: text;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, #020024 0%, #090979 20%, #136bbc 49%, #1690d1 59%, #002024 100%) 1;
    color: transparent;
    position: relative;
    font-weight: bold; }

#educativo .header_educativo {
  height: 600px;
  display: flex;
  flex-direction: row; }
  #educativo .header_educativo .header_pic {
    width: 60vw;
    background: url("/public//img/educativo/ruf_educativo_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  #educativo .header_educativo .header_description {
    width: 39vw;
    text-align: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF9900;
    color: white; }
    #educativo .header_educativo .header_description h1 {
      font-weight: bold;
      font-size: xx-large;
      margin-bottom: 2rem; }
    #educativo .header_educativo .header_description p {
      font-size: large; }

#educativo .products {
  height: 40vw;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(75deg, #e18d32 0%, #eec08e 10%, #f3d3af 20%, #faecdd 28%, white 42%, white 56%, #d6faff 72%, #c3f8ff 82%, #b3f6ff 89%, #95f2ff 97%, #95f2ff 100%); }
  #educativo .products .description {
    text-align: center;
    width: 50%; }
    #educativo .products .description h2 {
      margin-bottom: 2rem; }
    #educativo .products .description p {
      margin-bottom: 2rem;
      font-size: large; }
  #educativo .products .card_container {
    display: flex;
    flex-direction: row; }
    #educativo .products .card_container .black {
      background-color: #2F2F2F; }
    #educativo .products .card_container .orange {
      background-color: #FF9900; }

#educativo .info_container {
  width: 99vw;
  font-size: large;
  background: linear-gradient(#ffffffee, #ffffffee), url("/public/img/educativo/node_background.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40%; }
  #educativo .info_container .check_list {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #educativo .info_container .check_list .container {
      width: 99vw;
      height: 32rem; }
    #educativo .info_container .check_list .img_container {
      position: relative;
      width: 45rem;
      height: 45rem;
      height: max-content; }
      #educativo .info_container .check_list .img_container img {
        width: 45rem;
        border-radius: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: -580px; }
    #educativo .info_container .check_list h4 {
      margin: 1.5rem;
      font-weight: bold; }
    #educativo .info_container .check_list .sec_description {
      width: 50%;
      text-align: center; }
    #educativo .info_container .check_list ul {
      margin-top: 2rem; }
      #educativo .info_container .check_list ul li {
        list-style: none;
        display: flex;
        align-items: center; }
        #educativo .info_container .check_list ul li .check_icon {
          width: 30px;
          margin-right: 1.5rem; }

#educativo .contact {
  padding-bottom: 6rem;
  background: linear-gradient(145deg, white 73%, #343434 73%); }

.product_card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 12rem;
  text-align: center;
  border-radius: 40px;
  margin-right: 2rem; }
  .product_card:last-child {
    margin-right: 0; }
  .product_card h3 {
    font-weight: bold;
    font-size: x-large; }
  .product_card img {
    width: 80px; }

#educativo_footer {
  height: 14rem;
  display: flex;
  padding-top: 1.5rem;
  border-top: 4px solid orange;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#ffffffce, #ffffffce), url("/public/img/educativo/node_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px; }
  #educativo_footer .logo img {
    width: 15rem; }
  #educativo_footer .logo p {
    margin-top: 1rem;
    font-size: small; }
  #educativo_footer .social_networks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #educativo_footer .social_networks h6 {
      font-weight: bold; }
    #educativo_footer .social_networks .icons .footer_icon {
      width: 25px;
      height: 25px;
      margin-right: 8px; }

#contact_card {
  margin: 5rem;
  width: fit-content;
  box-shadow: 0px 0px 35px -8px rgba(0, 0, 0, 0.5); }
  #contact_card .info_container {
    width: 26rem;
    height: auto;
    padding-inline: 2rem;
    padding-block: 3rem;
    background: linear-gradient(164deg, #f9590f 0%, #ffa039 100%); }
    #contact_card .info_container h4 {
      font-weight: bold;
      font-size: large;
      color: white;
      margin-bottom: 2rem; }
    #contact_card .info_container ul {
      padding: 0; }
      #contact_card .info_container ul li {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-bottom: 1rem; }
        #contact_card .info_container ul li:last-child {
          margin-bottom: 0; }
        #contact_card .info_container ul li img {
          width: 1.6rem;
          padding: .1rem; }
        #contact_card .info_container ul li p {
          margin: 0;
          padding-left: 1rem;
          color: white;
          font-weight: lighter; }
  #contact_card .form_container {
    position: relative;
    padding-inline: 2rem;
    padding-block: 3rem;
    width: 45rem;
    border-radius: 0;
    background-color: white; }
    #contact_card .form_container h4 {
      font-weight: bold;
      font-size: large; }
    #contact_card .form_container input {
      text-transform: uppercase;
      background-color: #dddddd;
      color: grey;
      border-radius: 0; }
    #contact_card .form_container textarea {
      background-color: #dddddd;
      color: grey;
      border-radius: 0; }
    #contact_card .form_container .col-12 {
      position: absolute;
      left: 87.5%;
      bottom: -2%;
      font-size: small;
      width: fit-content; }
      #contact_card .form_container .col-12 .form_btn {
        background-color: orange;
        border: 0px;
        border-radius: 100px;
        padding: 1.1rem; }
      #contact_card .form_container .col-12 img {
        width: 2rem; }
      #contact_card .form_container .col-12 p {
        text-align: center; }

#industrial {
  width: 99vw; }
  #industrial .intro {
    background: linear-gradient(to bottom, #fffffff3, #fffffff3), url("/img/industrial/industrial_background_1.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    #industrial .intro .industrial_carousel {
      width: 99vw;
      height: 45rem;
      border-end-end-radius: 100px; }
      #industrial .intro .industrial_carousel .carousel-item {
        height: 45rem;
        border-end-end-radius: 100px; }
        #industrial .intro .industrial_carousel .carousel-item .slide_content {
          width: 45vw;
          margin-top: 5rem;
          margin-left: 5rem; }
      #industrial .intro .industrial_carousel .slide_1 {
        background: url("/img/industrial/unit_tree_robot.webp");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        border-end-end-radius: 100px; }
      #industrial .intro .industrial_carousel .slide_3 {
        background: url("/img/industrial/dog_robot.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-end-end-radius: 100px; }
  #industrial .industrial_bussiness_units .units_description h2 {
    margin-top: 4rem; }
  #industrial .industrial_bussiness_units .units_description p {
    width: 40%;
    margin: 20px;
    padding-block: 2rem; }
  #industrial .sustainable_development {
    padding-block: 8rem; }
    #industrial .sustainable_development .earth_hands {
      width: 40rem; }
    #industrial .sustainable_development .goals {
      width: 100%; }
      #industrial .sustainable_development .goals .title .title_icon {
        width: 45px;
        height: 45px;
        margin-right: 15px; }
      #industrial .sustainable_development .goals .row p {
        width: 40rem; }
      #industrial .sustainable_development .goals .row .check {
        text-align: left; }
        #industrial .sustainable_development .goals .row .check img {
          width: 50px;
          height: 25px; }

.bussiness_slide h3 {
  color: #0098DA; }

.slide_arrow img {
  width: 30px; }

.slide_icon {
  width: 65px;
  height: 60px;
  margin-bottom: 20px; }

.next_arrow {
  background: none; }

.prev_arrow {
  background: none; }

.slick-prev {
  left: -55px;
  content: ''; }
  .slick-prev::before {
    content: ''; }

.slick-next {
  right: -45px;
  content: ''; }
  .slick-next::before {
    content: ''; }

.floating-whatsapp,
.toggle-floating {
  background-color: #255cd3;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
  .floating-whatsapp .plus_icon,
  .toggle-floating .plus_icon {
    display: flex;
    justify-content: center; }
    .floating-whatsapp .plus_icon img,
    .toggle-floating .plus_icon img {
      width: 60%;
      margin: 0;
      padding: 0;
      transition: transform 0.2s ease-in-out; }

.floating-whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 85px 1px rgba(0, 145, 255, 0.938); }

.toggle-floating .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) translateX(50%); }

.toggle-floating:hover {
  box-shadow: none; }

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  right: 50%;
  transform: translateX(50%) translateY(20px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
  .dropdown .whatsapp {
    background-color: #25D366; }
    .dropdown .whatsapp:hover {
      box-shadow: 1px 0px 50px 1px #008b0c81; }
  .dropdown .mail {
    background-color: #0091ff; }
    .dropdown .mail:hover {
      box-shadow: 1px 0px 50px 1px #0091ff81; }
  .dropdown .dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
    .dropdown .dropdown-item img {
      width: 35px; }
    .dropdown .dropdown-item:hover {
      transform: scale(1.1); }
